<% layout("/layouts/boilerplate")%>
<div class="row md-3">
    <div class="col-8 offset-2">
    <h3>Edit your Listing</h3>
    <!-- same hamara form fill huye bina submit karne par redd box ho jaye aur niche plzz form for aisa likhke aaye isliye humne non validate,needs-validate,validfeedback and invalid-feeback lenge -->
     <!-- ye enctype e hum hamari image ko bhi edit kar sakte hai -->
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT"novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <!-- //ye bhi classes ke name sab bootstrap se liye hai -->
            <label for="title"class="form-label">Title</label>
            <input name="listing[title]"value="<%= listing.title %>"type="text" class="form-control"required>
            <div class="valid-feedback">Title look good!</div>
        </div>
       
        <div class="mb-3">
            <label for="description"class="form-label">escription</label>
            <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
            <div class="invalid-feedback">please enter the short discussion</div>
        </div>
        
        <!-- isase hamare edit form me humne previous image dikhengi -->
        <div class="mb-3">
          Original Listing Image<br>
            <!-- images ki file upload karni hai isliye humne type  file liya hai -->
             <!-- and ye karne se hum  easilu edit kar pare hai otherwise pahale bas link aati thi usko edit nhi kar pate the achsese -->
        <img src="<%= originalImageUrl %>">
        
    </div>
       

        <div class="mb-3">
            <label for="image"class="form-label">Upload new images</label>
            <!-- images ki file upload karni hai isliye humne type  file liya hai -->
             <!-- and ye karne se hum  easilu edit kar pare hai otherwise pahale bas link aati thi usko edit nhi kar pate the achsese -->
        <input name="listing[image]"type="file" class="form-control">
        
    </div>
     
    <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price"class="form-label">price</label>
            <input name="listing[price]"value="<%= listing.price %>"type="number"class="form-control"required>
            <div class="invalid-feedback">please enter the price</div>
        </div>

        <div class="mb-3 col-md-8">
            <label for="country"class="form-label">Country</label>
            <input name="listing[country]"value="<%= listing.country %>"type="text"class="form-control"required>
            <div class="invalid-feedback">please enter the country</div>
    </div>
</div>
     <div>
        <label for="location"class="form-label">location</label>
       <input name="listing[location]"value="<%= listing.location %>"type="text"class="form-control"required>
       <div class="invalid-feedback">please enter the location</div>
    </div>

<!-- mt means margin from top -->
        <button class="btn btn-dark edit-btn mt-3">Edit</button>
    </form>

</div>
</div>


